


<div class="col-sm-12" >
<h3>Log In Below:</h3>

<form method="POST" action="/sessions">
<div class="form-group">
Email:
<input type="email" name="email">

Password
<input type="password" name="password">
<br>
</div>
<input type="submit" value= "Log In">
</form>
</div>
