<link rel="stylesheet" href="/css/lay1.css">
<div class="col-sm-12" >

"Welcome, <%=@user.name%>!"
<br>
<a class="a_color" href ="/users/new_url"> New URL </a>
<br>
<a class="a_color"href ="/users/index"> My Urls </a>
<br>
<a class="a_color"href ="/sessions/logout"> logout </a>
</div>
